<div class="card">
  <div class="card-title__wrapper">
    <div class="card-title">{{cityProps}}</div>
    <div class="card-menu">...</div>
  </div>

  <div class="card-temp">{{temp}}</div>

  <div class="card-indication__wrapper">
    <div class="card-indication">
      <p class="card-indication__title">Pressure</p>
      <p class="card-indication__value" >{{indication.pressure}}</p>
    </div>
    <div class="card-indication">
      <p class="card-indication__title">Wind</p>
      <p class="card-indication__value" >{{indication.wind}} m/s</p>
    </div>
    <div class="card-indication">
      <p class="card-indication__title">Precip.</p>
      <p class="card-indication__value" >{{indication.precip}}%</p>
    </div>

  </div>


</div>
