<div class="select__wrapper">
  <div class="container">
    <div *ngIf="countries">
      <select
        class="select margin-auto" *ngIf="countries.length !== 0; else empty"
        (change)="navigateTo($event);"
        [(ngModel)]="defaultValueSelect"
      >
        <option value="">Select Value</option>
        <option *ngFor="let country of countries"
                [value]="country"
        >
          <a [routerLink]="['/', country]">{{country}}</a>
        </option>
      </select>

      <ng-template #empty >
        <p class="center"> country data not uploaded</p>
      </ng-template>
    </div>

  </div>
</div>

<p *ngIf="error" class="center">{{error}}</p>
<p *ngIf="isLoading" class="center">Loading ...</p>

<div *ngIf="cities as cit">
  <div class="container">
    <p class="center" *ngIf="cit.length !== null && cit.length === 0 && defaultValueSelect !==''; else citiesFound">No cities found</p>

    <ng-template #citiesFound>
      <div class="card-position">
        <vl-card-city *ngFor="let city of cities" [city]="city"></vl-card-city>
      </div>
    </ng-template>
  </div>
</div>






